.container{display: flex;justify-content: center;align-items: center;background-color: #252525;min-height: 100vh;gap: 2rem;}
button, input{padding: .5rem 1.2rem; }
button{background-color: rgb(188, 41, 188);color: aliceblue;}